<?php TPL::output('global/header_community.tpl.htm'); ?>

<div class="w960 clearfix tea_main" style="">
  <div id="module_l" class="groupWrapper tea_sidebar tea_fl">
    <div class="groupItem" id="Info" style="z-index: 100;">
      <div class="itemContent">
        <div class="tea_module tea_brief">
          <div class="tea_title clearfix">
            <h3>共同体简介</h3>
            <a href="http://www.wuhaneduyun.cn/index.php?r=studio/intro/index&amp;sid=343" class="fr more" target="_blank">详情</a>
          </div>
          <div class="details">
            <div class="head_wrap">
              <img src="<?php echo get_topic_pic_url('mid', $this->topic_info['topic_pic']); ?>" class="head_img">
            </div>
            <ul class="list clearfix">
             <li class="first">
               <span></span> <em></em>
             </li>
             <li><span>成员数</span> <em><a><?php echo $this->topic_info['focus_count']; ?></a></em></li>
             <li><span>资源数</span> <em><a href="http://www.wuhaneduyun.cn/index.php?r=studio/resources&amp;sid=343">102</a></em></li>
             <li class="last"><span>文章数</span> <em><a href="http://www.wuhaneduyun.cn/index.php?r=studio/post/categoryindex&amp;sid=343">25</a></em></li>
           </ul>
           <?php if ($this->user_id) { ?>
           <a href="javascript:;" onclick="AWS.User.follow($(this), 'topic', <?php echo $this->topic_info['topic_id']; ?>);" class="follow btn btn-normal manage<?php if ($this->topic_info['has_focus']) { ?> active<?php } ?>"><span><?php if ($this->topic_info['has_focus']) { ?><?php _e('加入共同体'); ?><?php } else { ?><?php _e('退出共同体'); ?><?php } ?></span> <em>|</em> <b><?php echo $this->topic_info['focus_count']; ?></b></a>
           <?php } ?>
           <!-- <a href="javascript:void(0);" class="manage" id="apply"></a> -->
           <!-- <a href="" onclick="addfavorite(this)" class="enshrine" rel="sidebar">加入收藏</a> -->
         </div>
       </div>
     </div>
   </div>

   <div class="groupItem" id="Member" style="z-index: 99;">
    <div class="itemContent">
      <div class="tea_module tea_member">
        <div class="tea_title clearfix">
         <h3>共同体成员</h3>
         <a href="http://www.wuhaneduyun.cn/index.php?r=studio/member/index&amp;sid=343" class="fr more" target="_blank">更多</a>
       </div>
       <div class="details">
         <ul class="member_list clearfix">
          <div id="focus_users" class="aw-border-radius-5"></div>
        </ul>
      </div>
    </div>
  </div>
</div>

<?php if ($this->user_info['permission']['is_administortar'] OR $this->user_info['permission']['is_moderator'] OR ($this->topic_info['topic_lock'] == 0 && $this->user_info['permission']['edit_topic']) OR ($this->topic_info['topic_lock'] == 0 && $this->user_info['permission']['manage_topic'])) { ?>
<div class="groupItem" id="Member" style="z-index: 99;">
  <div class="itemContent">
    <div class="tea_module tea_member">
      <div class="tea_title clearfix">
       <h3>共同体管理</h3>
     </div>
     <div class="details">
       <ul class="member_list clearfix">
        <div class="mod-body">
          <ul>
            <?php if ($this->topic_info['topic_lock'] == 0 && $this->user_info['permission']['edit_topic']) { ?>
            <li><a href="topic/edit/<?php echo $this->topic_info['topic_id']; ?>"><?php _e('编辑'); ?></a></li>
            <?php } ?>
            <?php if ($this->topic_info['topic_lock'] == 0 && $this->user_info['permission']['manage_topic']) { ?>
            <li><a href="topic/manage/<?php echo $this->topic_info['topic_id']; ?>"><?php _e('管理'); ?></a></li>
            <?php } ?>

            <?php if ($this->user_info['permission']['is_administortar'] OR $this->user_info['permission']['is_moderator']) { ?>
            <li><a href="javascript:;" onclick="AWS.ajax_request(G_BASE_URL + '/topic/ajax/lock/', 'topic_id=<?php echo $this->topic_info['topic_id']; ?>');"><?php if ($this->topic_info['topic_lock']) { ?><?php _e('解除锁定'); ?><?php } else { ?><?php _e('锁定'); ?><?php } ?></a></li>

            <li><a href="javascript:;" onclick="AWS.dialog('confirm', {'message' : '<?php _e('确认删除?'); ?>'}, function(){AWS.ajax_request(G_BASE_URL + '/topic/ajax/remove/', 'topic_id=<?php echo $this->topic_info['topic_id']; ?>');});"><?php _e('删除'); ?></a></li>
            <?php } ?>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</div>
</div>
<?php } ?>

</div>


<div id="module_m" class="groupWrapper tea_content tea_fr">
  <div class="groupItem" id="News" style="z-index: 96;"><div class="itemContent">


    <div class="clearfix">
     <div class="tea_module tea_news" id="tea_news">
      <div class="tea_title clearfix">
       <?php $article = $this->posts_list['1'];?>
       <h3><?php echo $article['title']; ?></h3>
       <a href="<?php echo $article['link']  ?>" class="fr more" target="_blank">更多</a>
     </div>
     <div class="details clearfix">
       <div class="tea_focus">
        <ul class="pic" style="width: 880px; left: -528px;">
          <?php foreach ($article['article'] as $key => $val) {?>
          <?php if($key == 5){ break;}?>
          <a href="article/<?php echo $val['id']; ?>" target="_blank"><img src="<?php echo $val['attachs']['attachment']; ?>"></a>
          <?php } ?>
        </ul>

        <ul class="btn cleafix" style="right: 47.5px;">
         <a href="javascript:void(0)" class=""></a><a href="javascript:void(0)" class=""></a><a href="javascript:void(0)" class=""></a><a href="javascript:void(0)" class="active"></a><a href="javascript:void(0)" class=""></a></ul>
       </div>

       <div class="news_list">
        <?php foreach ($article['article'] as $key  => $val) {?>
          <?php if($key == 1){ break;}?>
          <h3><a href="article/<?php echo $val['id']; ?>" title="<?php echo $val['title']; ?>" target="_blank"><?php echo cjk_substr($val['title'], 0, 15, 'UTF-8', '... &nbsp;'); ?></a></h3>
          <p class="c888"><?php echo cjk_substr($val['message'], 0, 20, 'UTF-8', '... &nbsp;'); ?><a href="article/<?php echo $val['id']; ?>" target="_blank">[详情]</a></p>
        <?php } ?>
          <ul>
            <?php foreach ($article['article'] as $key  => $val) {?>
            <?php if($key == 0){  continue;} if($key == 5){ break;}?>
            <li class="clearfix"><a href="article/<?php echo $val['id']; ?>" title="<?php echo $val['title']; ?>" target="_blank"><?php echo cjk_substr($val['title'], 0, 15, 'UTF-8', '... &nbsp;'); ?></a></li>
            <?php } ?>
          </ul>
      </ul>
    </div>
  </div>
</div>


<div id="tea_notice" class="tea_module tea_news tea_notice" style="min-height:217px;">
  <div class="tea_title clearfix">
   <?php $article = $this->posts_list['1'];?>
   <h3><?php echo $article['title']; ?></h3>
   <a href="<?php echo $article['link']  ?>" class="fr more" target="_blank">更多</a>
 </div>
 <div class="details clearfix">
   <ul class="list">
     <?php foreach ($article['article'] as $key => $val) {?>
     <?php if($key == 6){ break;}?>
     <li class="clearfix"><a href="article/<?php echo $val['id']; ?>" title="<?php echo $val['title']; ?>" target="_blank"><?php echo cjk_substr($val['title'], 0, 10, 'UTF-8', '... &nbsp;'); ?></a><span><?php echo date_friendly($val['add_time'], 604800, 'Y-m-d'); ?></span></li>
     <?php } ?>
   </ul>
 </div>
</div>

</div>
</div>
</div>


<div class="groupItem" id="Search" style="z-index: 95;">
  <div class="itemContent">
    <div class="search-box clearfix app">
      <form method="get" id="searchform" action="http://www.wuhaneduyun.cn/index.php?r=studio/index/index&amp;sid=343">
        <div class="txt-l fl">
          <div class="option fl">
            <ul class="drop-list" style="text-align:left">
              <li class="st" data-type="post"><a href="http://www.wuhaneduyun.cn/index.php?r=studio/index/index&amp;sid=343#">工作室文章</a></li>
              <li class="othertb" data-type="post" style="display: none;"><a href="http://www.wuhaneduyun.cn/index.php?r=studio/index/index&amp;sid=343#">工作室文章</a></li>
              <li class="othertb" data-type="res" style="display: none;"><a href="http://www.wuhaneduyun.cn/index.php?r=studio/index/index&amp;sid=343#">工作室资源</a></li>
              <li class="othertb" data-type="topic" style="display: none;"><a href="http://www.wuhaneduyun.cn/index.php?r=studio/index/index&amp;sid=343#">工作室共同体</a></li>
              <li class="othertb" data-type="video" style="display: none;"><a href="http://www.wuhaneduyun.cn/index.php?r=studio/index/index&amp;sid=343#">工作室视频</a></li>
              <li class="othertb" data-type="activies" style="display: none;"><a href="http://www.wuhaneduyun.cn/index.php?r=studio/index/index&amp;sid=343#">工作室活动</a></li>
            </ul>
          </div>
          <div class="txt fl">
            <input id="key_words" name="key_words" type="text" class="s-txt" value="" placeholder="请输入搜索内容">
            <input id="searchtype" name="type" type="hidden" value="post">
          </div>
        </div>
        <div class="btn fl">
          <input type="submit" value="搜索" class="s-btn">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="groupItem" id="PostList" style="z-index: 94;">
  <div class="itemContent">
    <div class="tea_module tea_subject">
      <div class="tea_title clearfix">
        <?php $article = $this->posts_list['1'];?>
        <h3><?php echo $article['title']; ?></h3>
        <a href="<?php echo $article['link']  ?>" target="_blank" class="fr more">更多</a>
      </div>
      <div class="details clearfix">
        <ul class="list">
          <?php foreach ($article['article'] as $key => $val) {?>
          <li class="clearfix">
            <em class="sub_left">
              <a href="<?php echo $article['link']  ?>" class="a_blod">[<?php echo $article['title']; ?>]</a>
              <a href="article/<?php echo $val['id']; ?>" class="t_c555" title="<?php echo $val['title']; ?>"><?php echo cjk_substr($val['title'], 0, 20, 'UTF-8', '... &nbsp;'); ?></a>
            </em>
            <a href="people/<?php echo $val['uid']; ?>" class="user"><?php echo $val['user']['user_name'] ?></a>
            <span class="date"><?php echo date_friendly($val['add_time'], 604800, 'Y-m-d'); ?></span>
            <span class="browse">浏览 <?php echo $val['views']; ?></span>
          </li>
          <?php } ?>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="groupItem" id="Album" style="z-index: 93;">
  <div class="itemContent">
    <div class="tea_module tea_fruits">
     <div class="tea_title clearfix">
       <?php $article = $this->posts_list['1'];?>
       <h3><?php echo $article['title']; ?></h3>
       <a href="<?php echo $article['link']  ?>" class="fr more" target="_blank">更多</a>
     </div>
     <div class="details clearfix">
      <ul class="list clearfix">
        <?php foreach ($article['article'] as $val) {?>
        <li>
          <a href="article/<?php echo $val['id']; ?>" target="_blank"><img src="<?php echo $val['attachs']['attachment']; ?>"></a>
          <a href="article/<?php echo $val['id']; ?>" target="_blank" title="<?php echo $val['title']; ?>"><?php echo cjk_substr($val['title'], 0, 8, 'UTF-8', '... &nbsp;'); ?></a>
        </li>
        <?php } ?>
      </ul>
    </div>
  </div>
</div>
</div>

<div class="groupItem" id="Resources" style="z-index: 92;">
  <div class="itemContent"> <!--widget接口调用耗时：0.0026-->
    <div class="tea_module tea_resource">
      <div class="tea_title clearfix">
        <?php $article = $this->posts_list['1'];?>
        <h3><?php echo $article['title']; ?></h3>
        <a href="<?php echo $article['link']  ?>" class="fr more" target="_blank">更多</a>
      </div>
      <div class="details clearfix">
        <ul class="list clearfix">
         <?php foreach ($article['article'] as $val) {?>
         <li class="clearfix">
          <a href="article/<?php echo $val['id']; ?>" class="title doc"><?php echo cjk_substr($val['title'], 0, 15, 'UTF-8', '... &nbsp;'); ?></a>
          <?php echo date_friendly($val['add_time'], 604800, 'Y-m-d'); ?>
          <span class="download">
          </span>
        </li>
        <?php } ?>
      </ul>
    </div>
  </div>
</div>
</div>


</div>
</div>

<script type="text/javascript">
  var TOPIC_ID = '<?php echo $this->topic_info['topic_id']; ?>';

  var CONTENTS_TOPIC_ID = '<?php echo $this->contents_topic_id; ?>';
  var CONTENTS_RELATED_TOPIC_IDS = '<?php echo $this->contents_related_topic_ids; ?>';
  var CONTENTS_TOPIC_TITLE = '<?php echo $this->contents_topic_title; ?>';
</script>
<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/app/topic.js"></script>


<?php TPL::output('global/footer_community.tpl.htm'); ?>