<?php TPL::output('global/header_community.tpl.htm'); ?>
<div class="w960 tea_main clearfix">
	<div class="tea_crumbs">
	<a href="topic/<?php echo $this->topic_info['topic_title']; ?>">首页</a> &gt; <span><?php echo $this->category_navigation['title']; ?></span>
	</div>

	<div class="tea_noticelist tea_noticelist2 tea_noticelist3 clearfix" style="position:relative;">
		<div class="sidebar">
			<div class="module">
				<ul class="first">
						<a href="<?php echo $this->category_navigation['link']; ?>" class="active">全部</a>
				            <?php foreach ($this->category_navigation['child'] as $_key => $_val) { ?>
				            <?php if(!empty($this->topic_info['topic_id'])){$_val['link'] .='__topic-'.$this->topic_info['topic_id'];}?>
				            <a href="<?php echo $_val['link']; ?>"><?php echo $_val['title']; ?></a>
				           <?php } ?>
				</ul>
			</div>
			<div class="module">
				<div class="tea_headline clearfix">
					<span><?php _e('热门'); ?></span>
				</div>
				<ul class="second">
					<?php foreach($this->hot_articles AS $key => $val) { ?>
					<li><a href="article/<?php echo $val['id']; ?>"><?php echo $val['title']; ?></a></li>
					<?php } ?>
				</ul>
			</div>
		</div>
		<div class="content" style=" min-height: 598px;">
			<div class="tea_headline clearfix">
				<span><?php echo $this->category_info['title']; ?></span>
			</div>

			<ul class="first">
			<?php if ($this->article_list) { ?>
				<?php foreach ($this->article_list AS $key => $val) { ?>
				<a href="article/<?php echo $val['id']; ?>">
					<span class="title" title="<?php echo $val['title']; ?>" style="width:420px">
						<span class="file"><?php echo $val['title']; ?></span>                </span>
						<span class="user"><?php echo $val['user_info']['user_name']; ?></span>
						<span class="date"><?php echo date_friendly($val['add_time']); ?></span>
						<span><?php _e('%s 次浏览', $val['views']); ?> </span>
					</a>
				<?php } ?>
			<?php } ?>
			</ul>

			<div class="mod-footer">
				<?php echo $this->pagination; ?>
			</div>
	    </div>
	</div>
</div>

<?php TPL::output('global/footer_community.tpl.htm'); ?>